# CMake build directory
/build/
# Executable files
*.exe
*.out
# Object files
*.o
# CMake cache and other configuration files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
# User-specific files
*.user
*.sublime-project
*.sublime-workspace
# IDE files (add your IDE-specific files here)
.vscode/
.idea/
# Logs
*.log
# Temporary files
*.tmp
*.temp
# Backup files
*~
/cmake-build-debug/
